In [23]:
import pandas as pd
import numpy as np
data = pd.read_csv(r"C:\Users\aksha\Desktop\ML Project\AAA_bond_yield.csv",header=None)
data.columns=['Date','AAA-Bond']
print(data)

                   Date AAA-Bond
0      observation_date     DAAA
1            1983-01-03    11.77
2            1983-01-04    11.79
3            1983-01-05    11.79
4            1983-01-06    11.74
...                 ...      ...
10945        2024-12-13     5.23
10946        2024-12-16     5.21
10947        2024-12-17     5.19
10948        2024-12-18     5.26
10949        2024-12-19     5.37

[10950 rows x 2 columns]

In [24]:
clean1=data.dropna()
clean1

                   Date AAA-Bond
0      observation_date     DAAA
1            1983-01-03    11.77
2            1983-01-04    11.79
3            1983-01-05    11.79
4            1983-01-06    11.74
...                 ...      ...
10945        2024-12-13     5.23
10946        2024-12-16     5.21
10947        2024-12-17     5.19
10948        2024-12-18     5.26
10949        2024-12-19     5.37

[10540 rows x 2 columns]