In [369]:
import pandas as pd
import numpy as np
#changed the name of columns
data = pd.read_csv("..//raw//AAA_bond_yield.csv",header=None)
data.columns=['Date','AAA-Bond']
print(data.columns)

Index(['Date', 'AAA-Bond'], dtype='object')

In [370]:
#removed the uncessary 0th index row
data=data.drop(index=[0])
data

             Date AAA-Bond
1      1983-01-03    11.77
2      1983-01-04    11.79
3      1983-01-05    11.79
4      1983-01-06    11.74
5      1983-01-07    11.74
...           ...      ...
10945  2024-12-13     5.23
10946  2024-12-16     5.21
10947  2024-12-17     5.19
10948  2024-12-18     5.26
10949  2024-12-19     5.37

[10949 rows x 2 columns]

In [371]:
data.describe() #just to check
#col=data.get('Date',None)
#data2= data[['AAA-Bond']].apply(pd.to_numeric, errors='coerce')
data

             Date AAA-Bond
1      1983-01-03    11.77
2      1983-01-04    11.79
3      1983-01-05    11.79
4      1983-01-06    11.74
5      1983-01-07    11.74
...           ...      ...
10945  2024-12-13     5.23
10946  2024-12-16     5.21
10947  2024-12-17     5.19
10948  2024-12-18     5.26
10949  2024-12-19     5.37

[10949 rows x 2 columns]

In [372]:
data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m-%d',errors='coerce')
#above method checks for the format and then if there is any invalid marks as "Nat=not a time"
data=data.dropna(subset=['Date'])  #drop rows with invalid data
data.describe()

                                Date
count                          10949
mean   2003-12-26 19:12:06.312905088
min              1983-01-03 00:00:00
25%              1993-06-30 00:00:00
50%              2003-12-26 00:00:00
75%              2014-06-24 00:00:00
max              2024-12-19 00:00:00

In [373]:
data['Date']=pd.to_datetime(data['Date'])
data = data[['AAA-Bond']].apply(pd.to_numeric, errors='coerce') #checking last time if date format is correct or not
data.columns=data.columns.str.strip()

In [374]:
# setting date column as index for resampling it for quaterly basis
data = data[['AAA-Bond']].apply(pd.to_numeric, errors='coerce')
data.set_index('Date',inplace=True)
quarterly=data[['AAA-Bond']].resample('QE').mean() #now setting date column back from index after getting quaterly values
quarterly.reset_index(inplace=True)
print(quarterly)

KeyError: "None of ['Date'] are in the columns"