In [1]:
import pandas as pd
import numpy as np
#changed the name of columns
data2 = pd.read_csv("..//raw//AAA_bond_yield.csv",header=None) #relative path represented as ..
data2.columns=['Date3','AAA-Bond']
print(data2.columns)

Index(['Date3', 'AAA-Bond'], dtype='object')

In [2]:
#removed the uncessary 0th index row
data2=data2.drop(index=[0])
data2

            Date3 AAA-Bond
1      1983-01-03    11.77
2      1983-01-04    11.79
3      1983-01-05    11.79
4      1983-01-06    11.74
5      1983-01-07    11.74
...           ...      ...
10945  2024-12-13     5.23
10946  2024-12-16     5.21
10947  2024-12-17     5.19
10948  2024-12-18     5.26
10949  2024-12-19     5.37

[10949 rows x 2 columns]

In [3]:
data2.describe() #just to check
#col=data.get('Date',None)
#data2= data[['AAA-Bond']].apply(pd.to_numeric, errors='coerce')
data2

            Date3 AAA-Bond
1      1983-01-03    11.77
2      1983-01-04    11.79
3      1983-01-05    11.79
4      1983-01-06    11.74
5      1983-01-07    11.74
...           ...      ...
10945  2024-12-13     5.23
10946  2024-12-16     5.21
10947  2024-12-17     5.19
10948  2024-12-18     5.26
10949  2024-12-19     5.37

[10949 rows x 2 columns]

In [4]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1990-01-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['AAA-Bond'] = data2interpolate['AAA-Bond'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

           index AAA-Bond
0     1990-01-01     8.87
1     1990-01-02     8.87
2     1990-01-03     8.90
3     1990-01-04     8.89
4     1990-01-05     8.88
...          ...      ...
12779 2024-12-27     5.37
12780 2024-12-28     5.37
12781 2024-12-29     5.37
12782 2024-12-30     5.37
12783 2024-12-31     5.37

[12784 rows x 2 columns]

C:\Users\aksha\AppData\Local\Temp\ipykernel_24916\1215458440.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data2interpolate['AAA-Bond'] = data2interpolate['AAA-Bond'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
C:\Users\aksha\AppData\Local\Temp\ipykernel_24916\1215458440.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2interpolate['AAA-Bond'] = data2interpolate['AAA-Bond'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')

In [5]:
data2interpolate.to_csv("AAA-Bond_quarterly.csv", index=False)

In [6]:
data2interpolate

           index AAA-Bond
0     1990-01-01     8.87
1     1990-01-02     8.87
2     1990-01-03     8.90
3     1990-01-04     8.89
4     1990-01-05     8.88
...          ...      ...
12779 2024-12-27     5.37
12780 2024-12-28     5.37
12781 2024-12-29     5.37
12782 2024-12-30     5.37
12783 2024-12-31     5.37

[12784 rows x 2 columns]