In [1]:
import pandas as pd
import numpy as np
data2 = pd.read_csv("..//raw//CPI_data.csv",header=None) #relative path represented as ..
data2.columns=['Date3','CPI']
print(data2.columns)

Index(['Date3', 'CPI'], dtype='object')

In [2]:
#removed the uncessary 0th index row
data2=data2.drop(index=[0])
data2

          Date3      CPI
1    1947-01-01   21.480
2    1947-02-01   21.620
3    1947-03-01   22.000
4    1947-04-01   22.000
5    1947-05-01   21.950
..          ...      ...
931  2024-07-01  313.534
932  2024-08-01  314.121
933  2024-09-01  314.686
934  2024-10-01  315.454
935  2024-11-01  316.441

[935 rows x 2 columns]

In [3]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1990-01-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['CPI'] = data2interpolate['CPI'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

           index      CPI
0     1990-01-01  127.500
1     1990-01-02  127.500
2     1990-01-03  127.500
3     1990-01-04  127.500
4     1990-01-05  127.500
...          ...      ...
12779 2024-12-27  316.441
12780 2024-12-28  316.441
12781 2024-12-29  316.441
12782 2024-12-30  316.441
12783 2024-12-31  316.441

[12784 rows x 2 columns]

C:\Users\aksha\AppData\Local\Temp\ipykernel_2188\1172600048.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data2interpolate['CPI'] = data2interpolate['CPI'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
C:\Users\aksha\AppData\Local\Temp\ipykernel_2188\1172600048.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2interpolate['CPI'] = data2interpolate['CPI'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')

In [4]:
data2interpolate.to_csv("CPI_quarterly.csv", index=False)

In [5]:
data2interpolate

           index      CPI
0     1990-01-01  127.500
1     1990-01-02  127.500
2     1990-01-03  127.500
3     1990-01-04  127.500
4     1990-01-05  127.500
...          ...      ...
12779 2024-12-27  316.441
12780 2024-12-28  316.441
12781 2024-12-29  316.441
12782 2024-12-30  316.441
12783 2024-12-31  316.441

[12784 rows x 2 columns]