In [5]:
import pandas as pd
import numpy as np
data2 = pd.read_csv("..//raw//DFF.csv",header=None) #relative path represented as ..
data2.columns=['Date3','DFF']
print(data2.columns)

Index(['Date3', 'DFF'], dtype='object')

In [6]:
data2=data2.drop(index=[0])
data2

            Date3   DFF
1      1954-07-01  1.13
2      1954-07-02  1.25
3      1954-07-03  1.25
4      1954-07-04  1.25
5      1954-07-05  0.88
...           ...   ...
25736  2024-12-15  4.58
25737  2024-12-16  4.58
25738  2024-12-17  4.58
25739  2024-12-18  4.58
25740  2024-12-19  4.33

[25740 rows x 2 columns]

In [7]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1990-01-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['DFF'] = data2interpolate['DFF'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

           index   DFF
0     1990-01-01  7.97
1     1990-01-02  8.54
2     1990-01-03  8.37
3     1990-01-04  8.29
4     1990-01-05  8.20
...          ...   ...
12779 2024-12-27  4.33
12780 2024-12-28  4.33
12781 2024-12-29  4.33
12782 2024-12-30  4.33
12783 2024-12-31  4.33

[12784 rows x 2 columns]

C:\Users\aksha\AppData\Local\Temp\ipykernel_18492\2158759393.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data2interpolate['DFF'] = data2interpolate['DFF'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
C:\Users\aksha\AppData\Local\Temp\ipykernel_18492\2158759393.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2interpolate['DFF'] = data2interpolate['DFF'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')

In [8]:
data2interpolate.to_csv("DFF_quarterly.csv", index=False)

In [9]:
data2interpolate

           index   DFF
0     1990-01-01  7.97
1     1990-01-02  8.54
2     1990-01-03  8.37
3     1990-01-04  8.29
4     1990-01-05  8.20
...          ...   ...
12779 2024-12-27  4.33
12780 2024-12-28  4.33
12781 2024-12-29  4.33
12782 2024-12-30  4.33
12783 2024-12-31  4.33

[12784 rows x 2 columns]