In [1]:
import pandas as pd
import numpy as np
data2 = pd.read_csv("..///raw//DGS3MO(monthly).csv",header=None) #relative path represented as ..
data2.columns=['Date3','DSG(monthly)']
print(data2.columns)

Index(['Date3', 'DSG(monthly)'], dtype='object')

In [2]:
#removed the uncessary 0th index row
data2=data2.drop(index=[0])
data2

            Date3 DSG(monthly)
1      1981-09-01        17.01
2      1981-09-02        16.65
3      1981-09-03        16.96
4      1981-09-04        16.64
5      1981-09-07          NaN
...           ...          ...
11294  2024-12-13         4.34
11295  2024-12-16         4.37
11296  2024-12-17         4.38
11297  2024-12-18         4.36
11298  2024-12-19         4.35

[11298 rows x 2 columns]

In [3]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1990-01-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['DSG(monthly)'] = data2interpolate['DSG(monthly)'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

           index DSG(monthly)
0     1990-01-01         7.83
1     1990-01-02         7.83
2     1990-01-03         7.89
3     1990-01-04         7.84
4     1990-01-05         7.79
...          ...          ...
12779 2024-12-27         4.35
12780 2024-12-28         4.35
12781 2024-12-29         4.35
12782 2024-12-30         4.35
12783 2024-12-31         4.35

[12784 rows x 2 columns]

C:\Users\aksha\AppData\Local\Temp\ipykernel_948\3320695583.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data2interpolate['DSG(monthly)'] = data2interpolate['DSG(monthly)'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
C:\Users\aksha\AppData\Local\Temp\ipykernel_948\3320695583.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2interpolate['DSG(monthly)'] = data2interpolate['DSG(monthly)'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')

In [5]:
data2interpolate.to_csv("DSG(monthly).csv", index=False)

In [6]:
data2interpolate

           index DSG(monthly)
0     1990-01-01         7.83
1     1990-01-02         7.83
2     1990-01-03         7.89
3     1990-01-04         7.84
4     1990-01-05         7.79
...          ...          ...
12779 2024-12-27         4.35
12780 2024-12-28         4.35
12781 2024-12-29         4.35
12782 2024-12-30         4.35
12783 2024-12-31         4.35

[12784 rows x 2 columns]