In [15]:
import pandas as pd
import numpy as np
data2= pd.read_csv("..//raw//DGS10(10 years).csv",header=None) #relative path represented as ..
data2.columns=['Date3','DSG(10 year)']
print(data2.columns)

Index(['Date3', 'DSG(10 year)'], dtype='object')

In [16]:
#removed the uncessary 0th index row
data2=data2.drop(index=[0])
data2

            Date3 DSG(10 year)
1      1962-01-02         4.06
2      1962-01-03         4.03
3      1962-01-04         3.99
4      1962-01-05         4.02
5      1962-01-08         4.03
...           ...          ...
16424  2024-12-13         4.40
16425  2024-12-16         4.39
16426  2024-12-17         4.40
16427  2024-12-18         4.50
16428  2024-12-19         4.57

[16428 rows x 2 columns]

In [17]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1990-01-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['DSG(10 year)'] = data2interpolate['DSG(10 year)'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

           index DSG(10 year)
0     1990-01-01         7.94
1     1990-01-02         7.94
2     1990-01-03         7.99
3     1990-01-04         7.98
4     1990-01-05         7.99
...          ...          ...
12779 2024-12-27         4.57
12780 2024-12-28         4.57
12781 2024-12-29         4.57
12782 2024-12-30         4.57
12783 2024-12-31         4.57

[12784 rows x 2 columns]

C:\Users\aksha\AppData\Local\Temp\ipykernel_25228\3029830397.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data2interpolate['DSG(10 year)'] = data2interpolate['DSG(10 year)'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
C:\Users\aksha\AppData\Local\Temp\ipykernel_25228\3029830397.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2interpolate['DSG(10 year)'] = data2interpolate['DSG(10 year)'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')

In [18]:
data2interpolate.to_csv("DSG(10 year).csv", index=False)

In [19]:
data2interpolate

           index DSG(10 year)
0     1990-01-01         7.94
1     1990-01-02         7.94
2     1990-01-03         7.99
3     1990-01-04         7.98
4     1990-01-05         7.99
...          ...          ...
12779 2024-12-27         4.57
12780 2024-12-28         4.57
12781 2024-12-29         4.57
12782 2024-12-30         4.57
12783 2024-12-31         4.57

[12784 rows x 2 columns]