In [1]:
import pandas as pd
import numpy as np
data2 = pd.read_csv("..//raw//ex_rate_usd_rup.csv",header=None) #relative path represented as ..
data2.columns=['Date3','Exchange-Rup']
print(data2.columns)

Index(['Date3', 'Exchange-Rup'], dtype='object')

In [2]:
data2=data2.drop(index=[0])
data2

          Date3 Exchange-Rup
1    1967-01-01      137.000
2    1967-02-01      137.000
3    1967-03-01      137.000
4    1967-04-01      137.000
5    1967-05-01      137.000
..          ...          ...
680  2023-08-01    15239.000
681  2023-09-01    15526.000
682  2023-10-01    15916.000
683  2023-11-01    15384.000
684  2023-12-01    15416.000

[684 rows x 2 columns]

In [3]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1990-01-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['Exchange-Rup'] = data2interpolate['Exchange-Rup'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

           index Exchange-Rup
0     1990-01-01     1805.000
1     1990-01-02     1805.000
2     1990-01-03     1805.000
3     1990-01-04     1805.000
4     1990-01-05     1805.000
...          ...          ...
12779 2024-12-27    15416.000
12780 2024-12-28    15416.000
12781 2024-12-29    15416.000
12782 2024-12-30    15416.000
12783 2024-12-31    15416.000

[12784 rows x 2 columns]

C:\Users\aksha\AppData\Local\Temp\ipykernel_15916\1370774270.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data2interpolate['Exchange-Rup'] = data2interpolate['Exchange-Rup'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
C:\Users\aksha\AppData\Local\Temp\ipykernel_15916\1370774270.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2interpolate['Exchange-Rup'] = data2interpolate['Exchange-Rup'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')

In [4]:
data2interpolate.to_csv("ex_rate_rup.csv", index=False)

In [5]:
data2interpolate

           index Exchange-Rup
0     1990-01-01     1805.000
1     1990-01-02     1805.000
2     1990-01-03     1805.000
3     1990-01-04     1805.000
4     1990-01-05     1805.000
...          ...          ...
12779 2024-12-27    15416.000
12780 2024-12-28    15416.000
12781 2024-12-29    15416.000
12782 2024-12-30    15416.000
12783 2024-12-31    15416.000

[12784 rows x 2 columns]