In [11]:
import pandas as pd
import numpy as np
data3 = pd.read_csv("..//raw//ex_rate_usd_rub.csv",header=None) #relative path represented as ..
data3.columns=['Date3','exchangerub']
print(data3.columns)

Index(['Date3', 'exchangerub'], dtype='object')

In [12]:
#removed the uncessary 0th index row
data3=data3.drop(index=[0])
data3

          Date3          exchangerub
1    1992-06-01   0.1380000000000000
2    1992-07-01   0.1680000000000000
3    1992-08-01   0.2170000000000000
4    1992-09-01   0.3440000000000000
5    1992-10-01   0.4240000000000000
..          ...                  ...
381  2024-02-01  91.6102999999999952
382  2024-03-01  91.6941000000000059
383  2024-04-01  92.8855999999999966
384  2024-05-01  90.8704000000000036
385  2024-06-01  88.0459000000000032

[385 rows x 2 columns]

In [13]:
data3['Date3'] = pd.to_datetime(data3['Date3'], format='%Y-%m-%d',errors='coerce')
data3['exchangerubb']=pd.to_numeric(data3['exchangerub'],errors='coerce') 
data3=data3.dropna(subset=['Date3'])  #drop rows with invalid data
data3

         Date3          exchangerub  exchangerubb
1   1992-06-01   0.1380000000000000        0.1380
2   1992-07-01   0.1680000000000000        0.1680
3   1992-08-01   0.2170000000000000        0.2170
4   1992-09-01   0.3440000000000000        0.3440
5   1992-10-01   0.4240000000000000        0.4240
..         ...                  ...           ...
381 2024-02-01  91.6102999999999952       91.6103
382 2024-03-01  91.6941000000000059       91.6941
383 2024-04-01  92.8855999999999966       92.8856
384 2024-05-01  90.8704000000000036       90.8704
385 2024-06-01  88.0459000000000032       88.0459

[385 rows x 3 columns]

In [16]:
data3.set_index('Date3',inplace=True) 
quarterly3=data3.resample('QE').mean() 
quarterly3.reset_index(inplace=True)  
print(quarterly3)

KeyError: "None of ['Date3'] are in the columns"

In [ ]:
quarterly3.to_csv("ex_rate_rub.csv", index=False)

In [ ]:
quarterly3