In [5]:
import pandas as pd
import numpy as np
data2 = pd.read_csv("..//raw//ex_rate_usd_rub.csv",header=None) #relative path represented as ..
data2.columns=['Date3','Exchange-Rub']
print(data2.columns)

Index(['Date3', 'Exchange-Rub'], dtype='object')

In [6]:
#removed the uncessary 0th index row
data2=data2.drop(index=[0])
data2

          Date3         Exchange-Rub
1    1992-06-01   0.1380000000000000
2    1992-07-01   0.1680000000000000
3    1992-08-01   0.2170000000000000
4    1992-09-01   0.3440000000000000
5    1992-10-01   0.4240000000000000
..          ...                  ...
381  2024-02-01  91.6102999999999952
382  2024-03-01  91.6941000000000059
383  2024-04-01  92.8855999999999966
384  2024-05-01  90.8704000000000036
385  2024-06-01  88.0459000000000032

[385 rows x 2 columns]

In [7]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1990-01-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['Exchange-Rub'] = data2interpolate['Exchange-Rub'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

           index         Exchange-Rub
0     1990-01-01   0.1380000000000000
1     1990-01-02   0.1380000000000000
2     1990-01-03   0.1380000000000000
3     1990-01-04   0.1380000000000000
4     1990-01-05   0.1380000000000000
...          ...                  ...
12779 2024-12-27  88.0459000000000032
12780 2024-12-28  88.0459000000000032
12781 2024-12-29  88.0459000000000032
12782 2024-12-30  88.0459000000000032
12783 2024-12-31  88.0459000000000032

[12784 rows x 2 columns]

C:\Users\aksha\AppData\Local\Temp\ipykernel_21096\434276103.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data2interpolate['Exchange-Rub'] = data2interpolate['Exchange-Rub'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
C:\Users\aksha\AppData\Local\Temp\ipykernel_21096\434276103.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2interpolate['Exchange-Rub'] = data2interpolate['Exchange-Rub'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')

In [8]:
data2interpolate.to_csv("ex_rate_rub.csv", index=False)

In [9]:
data2interpolate

           index         Exchange-Rub
0     1990-01-01   0.1380000000000000
1     1990-01-02   0.1380000000000000
2     1990-01-03   0.1380000000000000
3     1990-01-04   0.1380000000000000
4     1990-01-05   0.1380000000000000
...          ...                  ...
12779 2024-12-27  88.0459000000000032
12780 2024-12-28  88.0459000000000032
12781 2024-12-29  88.0459000000000032
12782 2024-12-30  88.0459000000000032
12783 2024-12-31  88.0459000000000032

[12784 rows x 2 columns]