In [11]:
import pandas as pd
import numpy as np
data2 = pd.read_csv("..//raw//ex_rate_usd_rub.csv",header=None) #relative path represented as ..
data2.columns=['Date3','Exchange-Rub']
print(data2.columns)

Index(['Date3', 'Exchange-Rub'], dtype='object')

In [12]:
#removed the uncessary 0th index row
data2=data2.drop(index=[0])
data2

          Date3         Exchange-Rub
1    1992-06-01   0.1380000000000000
2    1992-07-01   0.1680000000000000
3    1992-08-01   0.2170000000000000
4    1992-09-01   0.3440000000000000
5    1992-10-01   0.4240000000000000
..          ...                  ...
381  2024-02-01  91.6102999999999952
382  2024-03-01  91.6941000000000059
383  2024-04-01  92.8855999999999966
384  2024-05-01  90.8704000000000036
385  2024-06-01  88.0459000000000032

[385 rows x 2 columns]

In [13]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1992-06-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['Exchange-Rup'] = data2interpolate['Exchange-Rup'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

KeyError: 'Exchange-Rup'

In [5]:
data2interpolate.to_csv("ex_rate_rub.csv", index=False)

In [6]:
data2interpolate

         Date3  exchangerub
0   1992-06-30       0.1380
1   1992-07-31       0.1680
2   1992-08-31       0.2170
3   1992-09-30       0.3440
4   1992-10-31       0.4240
..         ...          ...
380 2024-02-29      91.6103
381 2024-03-31      91.6941
382 2024-04-30      92.8856
383 2024-05-31      90.8704
384 2024-06-30      88.0459

[385 rows x 2 columns]