In [6]:
import pandas as pd
import numpy as np
data2 = pd.read_csv("..//raw//ex_rate_usd_eur.csv",header=None) #relative path represented as ..
data2.columns=['Date3','Exchange-EUR']
print(data2.columns)

Index(['Date3', 'Exchange-EUR'], dtype='object')

In [7]:
#removed the uncessary 0th index row
data2=data2.drop(index=[0])
data2

          Date3        Exchange-EUR
1    1979-01-01  0.7362143856244080
2    1979-02-01  0.7398091292452590
3    1979-03-01  0.7396449704156109
4    1979-04-01  0.7479431563206160
5    1979-05-01  0.7562580352423540
..          ...                 ...
547  2024-07-01  0.9220765217391300
548  2024-08-01  0.9073031818181820
549  2024-09-01  0.9005252380952379
550  2024-10-01  0.9177386956521740
551  2024-11-01  0.9411600000000000

[551 rows x 2 columns]

In [8]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1990-01-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['Exchange-EUR'] = data2interpolate['Exchange-EUR'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

           index        Exchange-EUR
0     1990-01-01  0.8318999999992230
1     1990-01-02  0.8318999999992230
2     1990-01-03  0.8318999999992230
3     1990-01-04  0.8318999999992230
4     1990-01-05  0.8318999999992230
...          ...                 ...
12779 2024-12-27  0.9411600000000000
12780 2024-12-28  0.9411600000000000
12781 2024-12-29  0.9411600000000000
12782 2024-12-30  0.9411600000000000
12783 2024-12-31  0.9411600000000000

[12784 rows x 2 columns]

C:\Users\aksha\AppData\Local\Temp\ipykernel_11376\2214243700.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data2interpolate['Exchange-EUR'] = data2interpolate['Exchange-EUR'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
C:\Users\aksha\AppData\Local\Temp\ipykernel_11376\2214243700.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2interpolate['Exchange-EUR'] = data2interpolate['Exchange-EUR'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')

In [10]:
data2interpolate.to_csv("ex_rate_eur.csv", index=False)

In [11]:
data2interpolate

           index        Exchange-EUR
0     1990-01-01  0.8318999999992230
1     1990-01-02  0.8318999999992230
2     1990-01-03  0.8318999999992230
3     1990-01-04  0.8318999999992230
4     1990-01-05  0.8318999999992230
...          ...                 ...
12779 2024-12-27  0.9411600000000000
12780 2024-12-28  0.9411600000000000
12781 2024-12-29  0.9411600000000000
12782 2024-12-30  0.9411600000000000
12783 2024-12-31  0.9411600000000000

[12784 rows x 2 columns]