In [4]:
import pandas as pd
import numpy as np
data2 = pd.read_csv("..//raw//GDP.csv",header=None) #relative path represented as ..
data2.columns=['Date3','GDP']
print(data2.columns)

Index(['Date3', 'GDP'], dtype='object')

In [5]:
#removed the uncessary 0th index row
data2=data2.drop(index=[0])
data2

          Date3        GDP
1    1947-01-01    243.164
2    1947-04-01    245.968
3    1947-07-01    249.585
4    1947-10-01    259.745
5    1948-01-01    265.742
..          ...        ...
307  2023-07-01  27967.697
308  2023-10-01  28296.967
309  2024-01-01  28624.069
310  2024-04-01  29016.714
311  2024-07-01  29374.914

[311 rows x 2 columns]

In [6]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1990-01-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['GDP'] = data2interpolate['GDP'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

           index        GDP
0     1990-01-01   5872.701
1     1990-01-02   5872.701
2     1990-01-03   5872.701
3     1990-01-04   5872.701
4     1990-01-05   5872.701
...          ...        ...
12779 2024-12-27  29374.914
12780 2024-12-28  29374.914
12781 2024-12-29  29374.914
12782 2024-12-30  29374.914
12783 2024-12-31  29374.914

[12784 rows x 2 columns]

C:\Users\aksha\AppData\Local\Temp\ipykernel_5036\2576589070.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data2interpolate['GDP'] = data2interpolate['GDP'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
C:\Users\aksha\AppData\Local\Temp\ipykernel_5036\2576589070.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2interpolate['GDP'] = data2interpolate['GDP'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')

In [7]:
data2interpolate.to_csv("GDP.csv", index=False)

In [8]:
data2interpolate

           index        GDP
0     1990-01-01   5872.701
1     1990-01-02   5872.701
2     1990-01-03   5872.701
3     1990-01-04   5872.701
4     1990-01-05   5872.701
...          ...        ...
12779 2024-12-27  29374.914
12780 2024-12-28  29374.914
12781 2024-12-29  29374.914
12782 2024-12-30  29374.914
12783 2024-12-31  29374.914

[12784 rows x 2 columns]