In [87]:
import pandas as pd
import numpy as np
data2 = pd.read_csv("..//raw//inflation.csv",header=None) #relative path represented as ..
data2.columns=['Date3','inflation']
print(data2.columns)

Index(['Date3', 'inflation'], dtype='object')

In [88]:
data2=data2.drop(index=[0])
data2

         Date3          inflation
1   1960-01-01  1.457975986277910
2   1961-01-01  1.070724147647240
3   1962-01-01  1.198773348201860
4   1963-01-01  1.239669421487530
5   1964-01-01  1.278911564625910
..         ...                ...
60  2019-01-01  1.812210075260210
61  2020-01-01  1.233584396306290
62  2021-01-01  4.697858863637420
63  2022-01-01  8.002799820521210
64  2023-01-01  4.116338383744880

[64 rows x 2 columns]

In [89]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1990-01-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['inflation'] = data2interpolate['inflation'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

           index          inflation
0     1990-01-01  5.397956439903250
1     1990-01-02  5.397956439903250
2     1990-01-03  5.397956439903250
3     1990-01-04  5.397956439903250
4     1990-01-05  5.397956439903250
...          ...                ...
12779 2024-12-27  4.116338383744880
12780 2024-12-28  4.116338383744880
12781 2024-12-29  4.116338383744880
12782 2024-12-30  4.116338383744880
12783 2024-12-31  4.116338383744880

[12784 rows x 2 columns]

C:\Users\aksha\AppData\Local\Temp\ipykernel_16468\2191968210.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data2interpolate['inflation'] = data2interpolate['inflation'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
C:\Users\aksha\AppData\Local\Temp\ipykernel_16468\2191968210.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2interpolate['inflation'] = data2interpolate['inflation'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')

In [90]:
data2interpolate.to_csv("inflation.csv", index=False)

In [91]:
data2interpolate

           index          inflation
0     1990-01-01  5.397956439903250
1     1990-01-02  5.397956439903250
2     1990-01-03  5.397956439903250
3     1990-01-04  5.397956439903250
4     1990-01-05  5.397956439903250
...          ...                ...
12779 2024-12-27  4.116338383744880
12780 2024-12-28  4.116338383744880
12781 2024-12-29  4.116338383744880
12782 2024-12-30  4.116338383744880
12783 2024-12-31  4.116338383744880

[12784 rows x 2 columns]