In [4]:
import pandas as pd
import numpy as np
data2 = pd.read_csv("..//raw//UNEMP_RATE.csv",header=None) #relative path represented as ..
data2.columns=['Date3','unemployment-rate']
print(data2.columns)

Index(['Date3', 'unemployment-rate'], dtype='object')

In [5]:
#removed the uncessary 0th index row
data2=data2.drop(index=[0])
data2

          Date3 unemployment-rate
1    1948-01-01               3.4
2    1948-02-01               3.8
3    1948-03-01               4.0
4    1948-04-01               3.9
5    1948-05-01               3.5
..          ...               ...
919  2024-07-01               4.3
920  2024-08-01               4.2
921  2024-09-01               4.1
922  2024-10-01               4.1
923  2024-11-01               4.2

[923 rows x 2 columns]

In [6]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1990-01-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['unemployment-rate'] = data2interpolate['unemployment-rate'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

           index unemployment-rate
0     1990-01-01               5.4
1     1990-01-02               5.4
2     1990-01-03               5.4
3     1990-01-04               5.4
4     1990-01-05               5.4
...          ...               ...
12779 2024-12-27               4.2
12780 2024-12-28               4.2
12781 2024-12-29               4.2
12782 2024-12-30               4.2
12783 2024-12-31               4.2

[12784 rows x 2 columns]

C:\Users\aksha\AppData\Local\Temp\ipykernel_20692\1288678561.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data2interpolate['unemployment-rate'] = data2interpolate['unemployment-rate'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
C:\Users\aksha\AppData\Local\Temp\ipykernel_20692\1288678561.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2interpolate['unemployment-rate'] = data2interpolate['unemployment-rate'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')

In [7]:
data2interpolate.to_csv("unemployment.csv", index=False)

In [9]:
data2interpolate

           index unemployment-rate
0     1990-01-01               5.4
1     1990-01-02               5.4
2     1990-01-03               5.4
3     1990-01-04               5.4
4     1990-01-05               5.4
...          ...               ...
12779 2024-12-27               4.2
12780 2024-12-28               4.2
12781 2024-12-29               4.2
12782 2024-12-30               4.2
12783 2024-12-31               4.2

[12784 rows x 2 columns]