In [2]:
import pandas as pd
import numpy as np
data3 = pd.read_csv("..//raw//UNEMP_RATE.csv",header=None) #relative path represented as ..
data3.columns=['Date3','unp-rate']
print(data3.columns)

Index(['Date3', 'unp-rate'], dtype='object')

In [3]:
#removed the uncessary 0th index row
data3=data3.drop(index=[0])
data3

          Date3 unp-rate
1    1948-01-01      3.4
2    1948-02-01      3.8
3    1948-03-01      4.0
4    1948-04-01      3.9
5    1948-05-01      3.5
..          ...      ...
919  2024-07-01      4.3
920  2024-08-01      4.2
921  2024-09-01      4.1
922  2024-10-01      4.1
923  2024-11-01      4.2

[923 rows x 2 columns]

In [4]:
data3['Date3'] = pd.to_datetime(data3['Date3'], format='%Y-%m-%d',errors='coerce')
data3['unp-rate']=pd.to_numeric(data3['unp-rate'],errors='coerce') 
data3=data3.dropna(subset=['Date3'])  #drop rows with invalid data
data3

         Date3  unp-rate
1   1948-01-01       3.4
2   1948-02-01       3.8
3   1948-03-01       4.0
4   1948-04-01       3.9
5   1948-05-01       3.5
..         ...       ...
919 2024-07-01       4.3
920 2024-08-01       4.2
921 2024-09-01       4.1
922 2024-10-01       4.1
923 2024-11-01       4.2

[923 rows x 2 columns]

In [5]:
data3.set_index('Date3',inplace=True) 
quarterly3=data3.resample('ME').mean() 
quarterly3.reset_index(inplace=True)  
print(quarterly3)

         Date3  unp-rate
0   1948-01-31       3.4
1   1948-02-29       3.8
2   1948-03-31       4.0
3   1948-04-30       3.9
4   1948-05-31       3.5
..         ...       ...
918 2024-07-31       4.3
919 2024-08-31       4.2
920 2024-09-30       4.1
921 2024-10-31       4.1
922 2024-11-30       4.2

[923 rows x 2 columns]

In [6]:
quarterly3.to_csv("unemployment.csv", index=False)

In [7]:
quarterly3

         Date3  unp-rate
0   1948-01-31       3.4
1   1948-02-29       3.8
2   1948-03-31       4.0
3   1948-04-30       3.9
4   1948-05-31       3.5
..         ...       ...
918 2024-07-31       4.3
919 2024-08-31       4.2
920 2024-09-30       4.1
921 2024-10-31       4.1
922 2024-11-30       4.2

[923 rows x 2 columns]