In [22]:
import pandas as pd
import numpy as np
data2 = pd.read_csv("..//raw///yield_spread.csv",header=None) #relative path represented as ..
data2.columns=['Date3','YIELD']
print(data2.columns)

Index(['Date3', 'YIELD'], dtype='object')

In [23]:
#removed the uncessary 0th index row
data2=data2.drop(index=[0])
data2

           Date3 YIELD
1     1996-12-31  3.13
2     1997-01-01   NaN
3     1997-01-02  3.06
4     1997-01-03  3.09
5     1997-01-06  3.10
...          ...   ...
7389  2024-12-13  2.68
7390  2024-12-16  2.69
7391  2024-12-17  2.75
7392  2024-12-18  2.73
7393  2024-12-19  2.91

[7393 rows x 2 columns]

In [24]:
data2['Date3'] = pd.to_datetime(data2['Date3'], format='%Y-%m-%d',errors='coerce')
data2['YIELD']=pd.to_numeric(data2['YIELD'],errors='coerce') 
data2=data2.dropna(subset=['Date3'])  #drop rows with invalid data
df = pd.DataFrame(data2,index='Dates3')
df = df.interpolate(method='Date3',limit_direction='both')
data2

TypeError: Index(...) must be called with a collection of some kind, 'Dates3' was passed

In [16]:
data2.set_index('Date3',inplace=True) 
quarterly2=data2.resample('ME').mean() 
quarterly2.reset_index(inplace=True)  
print(quarterly2)

         Date3     YIELD
0   1996-12-31  3.130000
1   1997-01-31  3.032727
2   1997-02-28  2.951053
3   1997-03-31  2.697500
4   1997-04-30  2.893182
..         ...       ...
332 2024-08-31  3.366087
333 2024-09-30  3.258095
334 2024-10-31  2.930435
335 2024-11-30  2.696364
336 2024-12-31  2.695000

[337 rows x 2 columns]

In [17]:
quarterly2.to_csv("YIELD.csv", index=False)

In [7]:
quarterly2

         Date3     YIELD
0   1996-12-31  3.130000
1   1997-03-31  2.897377
2   1997-06-30  2.747231
3   1997-09-30  2.620462
4   1997-12-31  2.780606
..         ...       ...
108 2023-12-31  3.978000
109 2024-03-31  3.365000
110 2024-06-30  3.180152
111 2024-09-30  3.259851
112 2024-12-31  2.787288

[113 rows x 2 columns]