In [2]:
import pandas as pd
import numpy as np
data2 = pd.read_csv("..//raw///yield_spread.csv",header=None) #relative path represented as ..
data2.columns=['Date3','YIELD']
print(data2.columns)

Index(['Date3', 'YIELD'], dtype='object')

In [3]:
#removed the uncessary 0th index row
data2=data2.drop(index=[0])
data2

           Date3 YIELD
1     1996-12-31  3.13
2     1997-01-01   NaN
3     1997-01-02  3.06
4     1997-01-03  3.09
5     1997-01-06  3.10
...          ...   ...
7389  2024-12-13  2.68
7390  2024-12-16  2.69
7391  2024-12-17  2.75
7392  2024-12-18  2.73
7393  2024-12-19  2.91

[7393 rows x 2 columns]

In [4]:
data2['Date3'] = pd.to_datetime(data2['Date3'])
data2=data2.set_index('Date3')
date_range = pd.date_range(start='1990-01-01', end='2024-12-31', freq='D')
data2new = data2.reindex(date_range)
data2interpolate = data2new.copy()
data2interpolate['YIELD'] = data2interpolate['YIELD'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
data2interpolate.reset_index(inplace=True)  
print(data2interpolate)

           index YIELD
0     1990-01-01  3.13
1     1990-01-02  3.13
2     1990-01-03  3.13
3     1990-01-04  3.13
4     1990-01-05  3.13
...          ...   ...
12779 2024-12-27  2.91
12780 2024-12-28  2.91
12781 2024-12-29  2.91
12782 2024-12-30  2.91
12783 2024-12-31  2.91

[12784 rows x 2 columns]

C:\Users\aksha\AppData\Local\Temp\ipykernel_24312\1720585428.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data2interpolate['YIELD'] = data2interpolate['YIELD'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')
C:\Users\aksha\AppData\Local\Temp\ipykernel_24312\1720585428.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2interpolate['YIELD'] = data2interpolate['YIELD'].interpolate(method='time', limit_direction='both').fillna(method='ffill').fillna(method='bfill')

In [5]:
data2interpolate.to_csv("YIELD2.csv", index=False)

In [6]:
data2interpolate

           index YIELD
0     1990-01-01  3.13
1     1990-01-02  3.13
2     1990-01-03  3.13
3     1990-01-04  3.13
4     1990-01-05  3.13
...          ...   ...
12779 2024-12-27  2.91
12780 2024-12-28  2.91
12781 2024-12-29  2.91
12782 2024-12-30  2.91
12783 2024-12-31  2.91

[12784 rows x 2 columns]

: