In [1]:
import pandas as pd
import numpy as np
AAA=pd.read_csv("..//cleaned//AAA-Bond_quarterly.csv")
BAA=pd.read_csv("..//cleaned//BAA-Bond_quarterly.csv")
CPI=pd.read_csv("..//cleaned//CPI_quarterly.csv")
DFF=pd.read_csv("..//cleaned//DFF_quarterly.csv")
DGS2=pd.read_csv("..//cleaned//DSG(2year).csv")
DGS3=pd.read_csv("..//cleaned//DSG(monthly).csv")
DGS10=pd.read_csv("..//cleaned//DSG(10 year).csv")
DGS30=pd.read_csv("..//cleaned//DSG(30 year).csv")
EX_RATE_EUR=pd.read_csv("..//cleaned//ex_rate_eur.csv")
EX_RATE_RUB=pd.read_csv("..//cleaned//ex_rate_rub.csv")
EX_RATE_RUP=pd.read_csv("..//cleaned//ex_rate_rup.csv")
GDP=pd.read_csv("..//cleaned//GDP.csv")
GUARD=pd.read_csv("..//cleaned//guardian.csv")     #GOT NAN VALUES (ASK)
UNEMPLOY=pd.read_csv("..//cleaned//unemployment.csv")
YIELD=pd.read_csv("..//cleaned//YIELD.csv")
INFLATION=pd.read_csv("..//cleaned//inflation.csv")

In [2]:
AAA['Date3'] = pd.to_datetime(AAA['Date3'])
BAA['Date3'] = pd.to_datetime(BAA['Date3'])
CPI['Date3'] = pd.to_datetime(CPI['Date3'])
DFF['Date3'] = pd.to_datetime(DFF['Date3'])
DGS2['Date3'] = pd.to_datetime(DGS2['Date3'])
DGS3['Date3'] = pd.to_datetime(DGS3['Date3'])
DGS10['Date3'] = pd.to_datetime(DGS10['Date3'])
DGS30['Date3'] = pd.to_datetime(DGS30['Date3'])
EX_RATE_EUR['Date3'] = pd.to_datetime(EX_RATE_EUR['Date3'])
EX_RATE_RUB['Date3'] = pd.to_datetime(EX_RATE_RUB['Date3'])
EX_RATE_RUP['Date3'] = pd.to_datetime(EX_RATE_RUP['Date3'])
GDP['Date3'] = pd.to_datetime(GDP['Date3'])
GUARD['Date3'] = pd.to_datetime(GUARD['Date3'])
UNEMPLOY['Date3'] = pd.to_datetime(UNEMPLOY['Date3'])
YIELD['Date3'] = pd.to_datetime(YIELD['Date3'])
INFLATION['Date3'] = pd.to_datetime(INFLATION['Date3'])

In [3]:
mergeddata = pd.merge(AAA, BAA, on='Date3', how='inner')
mergeddata2 = pd.merge(mergeddata, CPI, on='Date3', how='inner')
mergeddata3 = pd.merge(mergeddata2, DFF, on='Date3', how='inner')
mergeddata4 = pd.merge(mergeddata3, DGS2, on='Date3', how='inner')
mergeddata5 = pd.merge(mergeddata4, DGS3, on='Date3', how='inner')
mergeddata6 = pd.merge(mergeddata5, DGS10, on='Date3', how='inner')
mergeddata7 = pd.merge(mergeddata6, DGS30, on='Date3', how='inner')
mergeddata8 = pd.merge(mergeddata7, EX_RATE_EUR, on='Date3', how='inner')
mergeddata9 = pd.merge(mergeddata8, EX_RATE_RUB, on='Date3', how='inner')
mergeddata10 = pd.merge(mergeddata9, EX_RATE_RUP, on='Date3', how='inner')
mergeddata11 = pd.merge(mergeddata10, GDP, on='Date3', how='inner')
mergeddata12 = pd.merge(mergeddata11, GUARD, on='Date3', how='inner')
mergeddata13 = pd.merge(mergeddata12, UNEMPLOY, on='Date3', how='inner')
mergedFINAL = pd.merge(mergeddata13, YIELD, on='Date3', how='inner')
mergedFINAL = pd.merge(mergeddata13, INFLATION, on='Date3', how='inner')

In [4]:
mergedFINAL

,Date3,AAA-Bond,BAA-Bond,CPI,DFF,DSG2yr,DSG(monthly),DSG(10 year),DSG(30 year),exchange_x,exchangerub,exchange_y,GDP,guardian(headlines),unp-rate,inflation
0,1992-06-30,8.221364,9.048182,140.100,3.762667,3.745000,3.745000,7.261818,7.841818,0.767900,0.1380,2033.0,6534.334283,80.4,7.8,NaN
1,1992-07-31,8.066818,8.836818,140.500,3.253548,3.280652,3.280652,6.844545,7.599457,0.729800,0.1680,2035.0,6566.641000,76.6,7.7,NaN
2,1992-08-31,7.950000,8.652857,140.800,3.303226,3.199048,3.199048,6.585714,7.390476,0.713500,0.2170,2034.0,6605.108630,76.1,7.6,NaN
3,1992-09-30,7.920476,8.616667,141.100,3.219667,2.968409,2.968409,6.415238,7.336591,0.722000,0.3440,2038.0,6642.335370,75.6,7.6,NaN
4,1992-10-31,7.990000,8.839545,141.700,3.099032,2.932955,2.932955,6.589048,7.531705,0.755200,0.4240,2050.0,6680.803000,73.3,7.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,2022-09-30,4.587619,5.693810,296.341,2.555000,3.212500,3.212500,3.519048,3.553409,1.010430,59.7916,15247.0,26578.513457,58.6,3.5,NaN
364,2022-10-31,5.098095,6.256190,297.863,3.080000,3.860238,3.860238,3.983500,4.033571,1.016271,60.8636,15542.0,26734.277000,59.9,3.6,NaN
365,2022-11-30,4.897000,6.065500,298.648,3.780000,4.325455,4.325455,3.891000,3.989091,0.980093,60.8749,15737.0,26874.521130,56.7,3.6,NaN
366,2022-12-31,4.428571,5.593810,298.812,4.104194,4.361364,4.361364,3.616190,3.670114,0.944557,65.3414,15731.0,27019.440065,59.8,3.5,NaN
367,2023-01-31,4.399500,5.502000,300.356,4.330000,4.679659,4.679659,3.531500,3.673864,0.928523,69.2264,14979.0,27164.359000,64.9,3.4,4.116338