In [57]:
import pandas as pd
import numpy as np
AAA=pd.read_csv("..//cleaned//AAA-Bond_quarterly.csv")
BAA=pd.read_csv("..//cleaned//BAA-Bond_quarterly.csv")
CPI=pd.read_csv("..//cleaned//CPI_quarterly.csv")
DFF=pd.read_csv("..//cleaned//DFF_quarterly.csv")
DGS2=pd.read_csv("..//cleaned//DSG(2year).csv")
DGS3=pd.read_csv("..//cleaned//DSG(monthly).csv")
DGS10=pd.read_csv("..//cleaned//DSG(10 year).csv")
DGS30=pd.read_csv("..//cleaned//DSG(30 year).csv")
EX_RATE_EUR=pd.read_csv("..//cleaned//ex_rate_eur.csv")
EX_RATE_RUB=pd.read_csv("..//cleaned//ex_rate_rub.csv")
EX_RATE_RUP=pd.read_csv("..//cleaned//ex_rate_rup.csv")
GDP=pd.read_csv("..//cleaned//GDP.csv")
GUARD=pd.read_csv("..//cleaned//guardian.csv")     #GOT NAN VALUES (ASK)
UNEMPLOY=pd.read_csv("..//cleaned//unemployment.csv")
YIELD=pd.read_csv("..//cleaned//YIELD.csv")

In [58]:
AAA['Date3'] = pd.to_datetime(AAA['Date3'])
BAA['Date3'] = pd.to_datetime(BAA['Date3'])
CPI['Date3'] = pd.to_datetime(CPI['Date3'])
DFF['Date3'] = pd.to_datetime(DFF['Date3'])
DGS2['Date3'] = pd.to_datetime(DGS2['Date3'])
DGS3['Date3'] = pd.to_datetime(DGS3['Date3'])
DGS10['Date3'] = pd.to_datetime(DGS10['Date3'])
DGS30['Date3'] = pd.to_datetime(DGS30['Date3'])
EX_RATE_EUR['Date3'] = pd.to_datetime(EX_RATE_EUR['Date3'])
EX_RATE_RUB['Date3'] = pd.to_datetime(EX_RATE_RUB['Date3'])
EX_RATE_RUP['Date3'] = pd.to_datetime(EX_RATE_RUP['Date3'])
GDP['Date3'] = pd.to_datetime(GDP['Date3'])
GUARD['Date3'] = pd.to_datetime(GUARD['Date3'])
UNEMPLOY['Date3'] = pd.to_datetime(UNEMPLOY['Date3'])
YIELD['Date3'] = pd.to_datetime(YIELD['Date3'])

In [59]:
mergeddata = pd.merge(AAA, BAA, on='Date3', how='inner')
mergeddata2 = pd.merge(mergeddata, CPI, on='Date3', how='inner')
mergeddata3 = pd.merge(mergeddata2, DFF, on='Date3', how='inner')
mergeddata4 = pd.merge(mergeddata3, DGS2, on='Date3', how='inner')
mergeddata5 = pd.merge(mergeddata4, DGS3, on='Date3', how='inner')
mergeddata6 = pd.merge(mergeddata5, DGS10, on='Date3', how='inner')
mergeddata7 = pd.merge(mergeddata6, DGS30, on='Date3', how='inner')
mergeddata8 = pd.merge(mergeddata7, EX_RATE_EUR, on='Date3', how='inner')
mergeddata9 = pd.merge(mergeddata8, EX_RATE_RUB, on='Date3', how='inner')
mergeddata10 = pd.merge(mergeddata9, EX_RATE_RUP, on='Date3', how='inner')
mergeddata11 = pd.merge(mergeddata10, GDP, on='Date3', how='inner')
mergeddata12 = pd.merge(mergeddata11, GUARD, on='Date3', how='inner')
mergeddata13 = pd.merge(mergeddata12, UNEMPLOY, on='Date3', how='inner')
mergedFINAL = pd.merge(mergeddata13, YIELD, on='Date3', how='inner')

In [62]:
mergedFINAL

,Date3,AAA-Bond,BAA-Bond,CPI,DFF,DSG2yr,DSG(monthly),DSG(10 year),DSG(30 year),exchange_x,exchangerub,exchange_y,GDP,guardian(headlines),unp-rate,YIELD
0,1996-12-31,7.203810,7.892857,159.100,5.294516,5.042955,5.042955,6.302381,6.554091,0.799685,5.5360,2383.0,8327.987565,96.9,5.4,3.130000
1,1997-01-31,7.418182,8.095455,159.400,5.254516,5.167391,5.167391,6.579048,6.819674,0.822171,5.6010,2396.0,8362.655000,97.4,5.3,3.035435
2,1997-02-28,7.305263,7.941579,159.700,5.185714,5.140750,5.140750,6.419474,6.680750,0.857440,5.6540,2406.0,8411.787135,99.7,5.2,2.954500
3,1997-03-31,7.559500,8.182500,159.800,5.386129,5.288333,5.288333,6.694500,6.940119,0.869771,5.7040,2419.0,8466.183427,100.0,5.2,2.698214
4,1997-04-30,7.725909,8.336818,159.900,5.507333,5.304545,5.304545,6.885455,7.092727,0.873581,5.7470,2433.0,8518.825000,101.4,5.1,2.893182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,2023-08-31,4.952609,6.017391,306.187,5.330000,5.559130,5.559130,4.167826,4.280000,0.916694,95.2629,15239.0,28078.646674,69.4,3.8,3.903043
321,2023-09-30,5.126500,6.156000,307.288,5.330000,5.555000,5.555000,4.379000,4.467500,0.936765,96.6494,15526.0,28186.017326,67.8,3.8,3.889091
322,2023-10-31,5.614286,6.629524,307.531,5.330000,5.605227,5.605227,4.798095,4.943409,0.947035,97.0068,15916.0,28296.967000,63.8,3.8,4.355455
323,2023-11-30,5.281905,6.291905,308.024,5.330000,5.523636,5.523636,4.502857,4.656136,0.924648,90.5715,15384.0,28403.630696,61.3,3.7,3.985909
324,2023-12-31,4.739000,5.642000,308.742,5.330000,5.442262,5.442262,4.020000,4.139643,0.916317,90.7596,15416.0,28513.849848,69.7,3.7,3.565227