In [25]:
import pandas as pd
import numpy as np
AAA=pd.read_csv("..//cleaned//AAA-Bond_quarterly.csv")
BAA=pd.read_csv("..//cleaned//BAA-Bond_quarterly.csv")
CPI=pd.read_csv("..//cleaned//CPI_quarterly.csv")
DFF=pd.read_csv("..//cleaned//DFF_quarterly.csv")
DGS2=pd.read_csv("..//cleaned//DSG(2year).csv")
DGS3=pd.read_csv("..//cleaned//DSG(monthly).csv")
DGS10=pd.read_csv("..//cleaned//DSG(10 year).csv")
DGS30=pd.read_csv("..//cleaned//DSG(30 year).csv")
EX_RATE_EUR=pd.read_csv("..//cleaned//ex_rate_eur.csv")
EX_RATE_RUB=pd.read_csv("..//cleaned//ex_rate_rub.csv")
EX_RATE_RUP=pd.read_csv("..//cleaned//ex_rate_rup.csv")
GDP=pd.read_csv("..//cleaned//GDP.csv")
GUARD=pd.read_csv("..//cleaned//guardian.csv")     #GOT NAN VALUES (ASK)
UNEMPLOY=pd.read_csv("..//cleaned//unemployment.csv")
YIELD=pd.read_csv("..//cleaned//YIELD2.csv")
INFLATION=pd.read_csv("..//cleaned//inflation.csv")

In [26]:
AAA['index'] = pd.to_datetime(AAA['index'])
BAA['index'] = pd.to_datetime(BAA['index'])
CPI['index'] = pd.to_datetime(CPI['index'])
DFF['index'] = pd.to_datetime(DFF['index'])
DGS2['index'] = pd.to_datetime(DGS2['index'])
DGS3['index'] = pd.to_datetime(DGS3['index'])
DGS10['index'] = pd.to_datetime(DGS10['index'])
DGS30['index'] = pd.to_datetime(DGS30['index'])
EX_RATE_EUR['index'] = pd.to_datetime(EX_RATE_EUR['index'])
EX_RATE_RUB['index'] = pd.to_datetime(EX_RATE_RUB['index'])
EX_RATE_RUP['index'] = pd.to_datetime(EX_RATE_RUP['index'])
GDP['index'] = pd.to_datetime(GDP['index'])
GUARD['index'] = pd.to_datetime(GUARD['index'])
UNEMPLOY['index'] = pd.to_datetime(UNEMPLOY['index'])
YIELD['index'] = pd.to_datetime(YIELD['index'])
INFLATION['index'] = pd.to_datetime(INFLATION['index'])

In [28]:
mergeddata = pd.merge(AAA, BAA, on='index', how='inner')
mergeddata2 = pd.merge(mergeddata, CPI, on='index', how='inner')
mergeddata3 = pd.merge(mergeddata2, DFF, on='index', how='inner')
mergeddata4 = pd.merge(mergeddata3, DGS2, on='index', how='inner')
mergeddata5 = pd.merge(mergeddata4, DGS3, on='index', how='inner')
mergeddata6 = pd.merge(mergeddata5, DGS10, on='index', how='inner')
mergeddata7 = pd.merge(mergeddata6, DGS30, on='index', how='inner')
mergeddata8 = pd.merge(mergeddata7, EX_RATE_EUR, on='index', how='inner')
mergeddata9 = pd.merge(mergeddata8, EX_RATE_RUB, on='index', how='inner')
mergeddata10 = pd.merge(mergeddata9, EX_RATE_RUP, on='index', how='inner')
mergeddata11 = pd.merge(mergeddata10, GDP, on='index', how='inner')
mergeddata12 = pd.merge(mergeddata11, GUARD, on='index', how='inner')
mergeddata13 = pd.merge(mergeddata12, UNEMPLOY, on='index', how='inner')
mergeddata14 = pd.merge(mergeddata13, YIELD, on='index', how='inner')
mergedFINAL = pd.merge(mergeddata14, INFLATION, on='index', how='inner')

In [29]:
mergedFINAL

,index,AAA-Bond,BAA-Bond,CPI,DFF,DSG2yr,DSG(monthly),DSG(10 year),DSG(30 year),Exchange-EUR,Exchange-Rub,Exchange-Rup,GDP,guardian(headlines),unemployment-rate,YIELD,inflation
0,1990-01-01,8.87,9.85,127.500,7.97,7.83,7.83,7.94,8.00,0.83190,0.1380,1805.0,5872.701,93.0,5.4,3.13,5.397956
1,1990-01-02,8.87,9.85,127.500,8.54,7.83,7.83,7.94,8.00,0.83190,0.1380,1805.0,5872.701,93.0,5.4,3.13,5.397956
2,1990-01-03,8.90,9.86,127.500,8.37,7.89,7.89,7.99,8.04,0.83190,0.1380,1805.0,5872.701,93.0,5.4,3.13,5.397956
3,1990-01-04,8.89,9.84,127.500,8.29,7.84,7.84,7.98,8.04,0.83190,0.1380,1805.0,5872.701,93.0,5.4,3.13,5.397956
4,1990-01-05,8.88,9.88,127.500,8.20,7.79,7.79,7.99,8.06,0.83190,0.1380,1805.0,5872.701,93.0,5.4,3.13,5.397956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12779,2024-12-27,5.37,5.97,316.441,4.33,4.35,4.35,4.57,4.74,0.94116,88.0459,15416.0,29374.914,71.8,4.2,2.91,4.116338
12780,2024-12-28,5.37,5.97,316.441,4.33,4.35,4.35,4.57,4.74,0.94116,88.0459,15416.0,29374.914,71.8,4.2,2.91,4.116338
12781,2024-12-29,5.37,5.97,316.441,4.33,4.35,4.35,4.57,4.74,0.94116,88.0459,15416.0,29374.914,71.8,4.2,2.91,4.116338
12782,2024-12-30,5.37,5.97,316.441,4.33,4.35,4.35,4.57,4.74,0.94116,88.0459,15416.0,29374.914,71.8,4.2,2.91,4.116338
12783,2024-12-31,5.37,5.97,316.441,4.33,4.35,4.35,4.57,4.74,0.94116,88.0459,15416.0,29374.914,71.8,4.2,2.91,4.116338