In [8]:
import pandas as pd
import numpy as np
AAA=pd.read_csv("..//cleaned//AAA-Bond_quarterly.csv")
BBB=pd.read_csv("..//cleaned//BAA-Bond_quarterly.csv")
AAA['Date3'] = pd.to_datetime(AAA['Date3'])
BBB['Date3'] = pd.to_datetime(BBB['Date3'])
mergeddata = pd.merge(AAA, BBB, on='Date3', how='inner')
mergeddata

         Date3  AAA-Bond   BBB-Bond
0   1986-03-31  9.585246  11.026885
1   1986-06-30  8.999844  10.270625
2   1986-09-30  8.829844  10.182500
3   1986-12-31  8.682031  10.095469
4   1987-03-31  8.368548   9.661935
..         ...       ...        ...
151 2023-12-31  5.219355   6.196613
152 2024-03-31  4.965410   5.731311
153 2024-06-30  5.223968   5.929048
154 2024-09-30  4.895937   5.626094
155 2024-12-31  5.054000   5.702182

[156 rows x 3 columns]